.scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 35px 10px 25px;
    width: 70vw;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.currentScore {
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--bgColorDarker);
    font-size: 1.5rem;
    padding-top: 10px;
}

.scoreBtnsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btnHomeContainer,
.btnRepeatContainer {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--bgColorDarker);
    transition: 0.3s ease;
    cursor: pointer;

    svg {
        pointer-events: none;
    }

    &:hover {
        opacity: 0.5;
    }
}

@media (min-width: 768px) {
    .gameContainer {
        width: 50vw;
    }
}

@media (min-width: 992px) {
    .gameContainer {
        width: 40vw;
    }
}

@media (min-width: 1200px) {
    .gameContainer {
        width: 30vw;
    }
}
